nav{
    height: 6rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    /* margin-top: 100px; */
    font-family: sans-serif;
    margin-top: -100px;
}

.logo{
    padding: 0 1vw;
    text-align: center;
}
.logo img {
    height: 6rem;
    width: 6rem;
}

.logo a img:hover{
    cursor: pointer;
}

.navbar-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.navbar-links .active{
    color: white;
    font-weight: 550;
}

.navbar-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.navbar-links li a:hover {
    color: #ffffff;
}
.navbar-links li {
    position: relative;
}

.navbar-links li button{
    color: #bbbbbb;
}

a{
    color: #bbb;
}

.navbar-links li a::before {
    content: "";
    display: block;
    top: 1.3rem;
    height: 1.2px;
    width: 0%;
    background-color: #dbe3e6;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.navbar-links li a:hover::before{
    width: 80%;
}


.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    /* color: #131418; */
    text-decoration: none;
    background-color: #f2f5f7;
    /* border:1.5px solid #f2f5f7; */
    transition: all ease-in-out 350ms;
}

.navbar-links li .login-button:hover {
    color: #000;
}

.navbar-links li .login-button:hover::before{
    width: 0%;
}

.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
    z-index: 10;
}
.hamburger{
    z-index: 10;
    display: none;
}

@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 10;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 10;
        transition: all 0.7s ease;
    }
    .navbar-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        /* width: 30%; */
        right: 0;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .navbar-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .navbar-links li{
        opacity: 0;
        margin-top: 50px;
    }
    .navbar-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .navbar-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .navbar-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .navbar-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .navbar-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .navbar-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .navbar-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 50%; 
    font-size: 18px; 
}

#myBtn:hover {
    border: 1px solid white;
    background-color: #db1e1e;
}