@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

      body{
        padding: 0;
        margin: 0;   
        /* background-color: black;     */
      }

      .login-box-bg{
        /* border: 1px solid red; */
        height: 400px;
        width: 400px;
        /* background-image: url("../images/rocket-doodle-removebg-preview.png");
        background-size: cover;
        background-repeat: no-repeat; */
        margin: 12% auto;
      }

      .signin-box-bg img{
        /* border: 1px solid red; */
        height: 100vh;
        width: 50vw;
        mix-blend-mode: color-burn;
      }

      .bg{
        height: 100vh;
        width: 100%;
        background-image: url("../images/login-signup-bg.gif");
        background-size: cover;
        /* border: 1px solid red; */
      }

      .login-box {
        /* background-image: linear-gradient(135deg, rgb(0,0,0,0.8), rgb(0,0,19,0.7)), url("../images/rocket-doodle-removebg-preview.png"); */
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        margin: 20px auto;
        transform: translate(-50%, -55%);
        /* background: rgba(0, 0, 0, 0.634); */
        box-sizing: border-box;
        /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6); */
        box-shadow: 0 15px 25px rgba(122, 122, 122, 0.4);
        /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6); */
        border-radius: 10px;
        font-family: "Poppins", sans-serif;
      }

      .login-box p:first-child {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
      }

      .login-box .user-box {
        position: relative;
        /* border: 1px solid white; */
      }

      .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        /* border: 1px solid black; */
      }

      .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
        /* border: 1px solid yellow; */
      }

      .login-box .user-box span{
        /* border: 1px solid red; */
        position: absolute;
        font-size: 70%;
        margin-top: 3rem;
        margin-bottom: 2rem;
      }

      .login-box .user-box input:focus ~ label,
      .login-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #fff;
        font-size: 12px;
      }

      .login-box form button {
        background-color: transparent;
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-top: 0;
        letter-spacing: 3px;
        border: 2px solid #fff;
        border-radius: 5px;
      }

      .login-box button:hover {
        background: #fff;
        color: #272727;
        border-radius: 5px;
        cursor: pointer;
      }

      .login-box a span {
        position: absolute;
        display: block;
        border: 1px solid #fff;
      }
      .login-box p:last-of-type {
        margin-top: 10px;
        color: #aaa;
        font-size: 14px;
      }

      .login-box a.a2 {
        color: #fff;
        text-decoration: none;
      }

      .login-box a.a2:hover {
        background: transparent;
        text-decoration: underline;
        border-radius: 5px;
      }